{% extends 'navegador.html.twig' %}

{% block title %}
    {{ parent() }} - Dashboard
{% endblock %}
{% block stylesheets %}



    <link rel="stylesheet" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <link href="{{ asset('vendor/fonts/circular-std/style.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('libs/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('vendor/fonts/fontawesome/css/fontawesome-all.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/datatables/css/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/datatables/css/buttons.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/datatables/css/select.bootstrap4.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/datatables/css/fixedHeader.bootstrap4.css') }}">
{% endblock %}
{% block body %}
    {{ parent() }}
    <!-- ============================================================== -->
    <!-- wrapper  -->
    <!-- ============================================================== -->
    <div class="dashboard-wrapper">
        <div class="dashboard-ecommerce">
            <div class="container-fluid dashboard-content ">
                <!-- ============================================================== -->
                <!-- pageheader  -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header">
                            <h2 class="pageheader-title">Panel de administración </h2>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/dashboard" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Todas las sedes</li>
                                    </ol>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
                {% for message in app.flashes('exitoSede') %}
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- ============================================================== -->
                <!-- end pageheader  -->
                <!-- ============================================================== -->
                <div class="ecommerce-widget">
                    {% if is_granted('ROLE_ADMIN') %}

                        <div class="row">
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-4">
                                    <button class="btn-primary btn" onclick="window.location.href='{{ path('crear_sedes') }}'">Dar de alta una nueva sede</button><br><br><br>
                                </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <!-- ============================================================== -->

                        <!-- recent orders  -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table first">
                                            <thead class="bg-light">
                                                <tr class="border-0">
                                                <th class="border-0">Nombre</th>
                                                 <th class="border-0">Localización</th>
                                                 <th class="border-0">Acciones</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for ac in sedes %}
                                                <tr>
                                                    <td>{{ ac.nombre }}</td>
                                                    <td>{{ ac.localizacion }}</td>
                                                    <td>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <button onclick="deleteSede({{ ac.id }}), location.reload()" title="Eliminar sede" class="btn  p-1 rounded fa-lg my-1" style="background-color: #da0419;"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
                                                        <button title="Editar sede" class="btn  p-1 rounded fa-lg my-1" style="background-color: #f3b600;"><i class="fas fa-edit"></i></button>
                                                        {% endif %}
                                                        <button title="Ver sede"  onclick="window.location.href='{{ path('verSede',{id:ac.id}) }}'"class="btn  p-1 rounded fa-lg my-1" style="background-color: green;"><i class="fas fa-eye"></i></button> </td>

                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end recent orders  -->


                        <!-- ============================================================== -->
                        <!-- ============================================================== -->
                        <!-- customer acquistion  -->
                        <!-- ============================================================== -->

                        <!-- ============================================================== -->
                        <!-- end customer acquistion  -->
                        <!-- ============================================================== -->
                    </div>
                    <div class="row">
                        {% if is_granted('ROLE_ADMIN') %}
                            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-4">
                                <p style="font-family: Calibri; font-size: calc(11px + 1.2vmin);"><b>En esta ventana podemos ver todas las sedes de nuestra organización, podremos acceder a dicha sede para ver los proyectos llevados a cabo en ella y los usuarios
                                que se benefician de dichos proyectos; además podremos crear una nueva sede y a continuación se podrán lanzar proyectos en dicha sede.
                                    </b></p>
                            </div>

                        {% endif %}
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-4"></div>
                        <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12 col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="text-muted">Total Sedes</h5>
                                    <div class="metric-value d-inline-block">
                                        <h1 class="mb-1">{{ totalSedes }}</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


        </div>
        <!-- ============================================================== -->
        <!-- footer -->
        <!-- ============================================================== -->
        <div class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        Organización Social © 2022 Concept. Panel de administración.
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="javascript: void(0);">Sobre Nosotros</a>
                            <a href="javascript: void(0);">Soporte</a>
                            <a href="javascript: void(0);">Contacto</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- end footer -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- end wrapper  -->
    <!-- ============================================================== -->
    </div>
{% endblock %}
        {% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="{{ asset('vendor/datatables/js/dataTables.bootstrap4.min.js') }}"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.2/js/dataTables.buttons.min.js"></script>
    <script src="{{ asset('vendor/datatables/js/buttons.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('vendor/datatables/js/data-table.js') }}"></script>
    <script src="https://cdn.datatables.net/rowgroup/1.0.4/js/dataTables.rowGroup.min.js"></script>
    <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
    <script src="https://cdn.datatables.net/fixedheader/3.1.5/js/dataTables.fixedHeader.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
{% endblock %}